# 1. Usando javascript o Python y la API (INEGI) realiza la extracción de datos y el manejo de datos necesario para generar un dashboard en la plataforma de tu preferencia resumiendo los puntos principales de la población incluyendo comentarios relevantes

In [2]:
import requests
import pandas as pd

### Población de Colima

In [3]:
token = "5554b048-f926-f2d4-7ec2-372b06e35b22"
url = f"https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000001/es/07000006/false/BISE/2.0/{token}?type=json"
response = requests.get(url)
data = response.json()

In [5]:
series = data['Series'][0]['OBSERVATIONS']
df = pd.DataFrame(series)[['OBS_VALUE']].iloc[-6:].drop(13)
df['OBS_VALUE'] = pd.to_numeric(df['OBS_VALUE'])
df.columns= ['Estado Colima']
df.index = ['1995','2000','2005','2010','2020']

In [197]:
df

      Estado Colima
1995       488028.0
2000       542627.0
2005       567996.0
2010       650555.0
2020       731391.0

### Población por entidad

In [177]:
muni = ['0'+str(n) for n in range(1,10)] + ['10']
muni_name = ['Armería','Colima','Comala','Coquimatlán','Cuauhtémoc',
             'Ixtlahuacán','Manzanillo','Minatitlán','Tecomán','Villa de Álvarez']

In [178]:
df_pob_ent = pd.DataFrame()
for i in muni:
    url = f"https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000001/es/0700000600{i}/false/BISE/2.0/{token}?type=json"
    response = requests.get(url)
    data = response.json()
    series = data['Series'][0]['OBSERVATIONS']
    df = pd.DataFrame(series,index=['1995','2000','2005','2010','2020'])[['OBS_VALUE']]
    df['OBS_VALUE'] = pd.to_numeric(df['OBS_VALUE'])
    df_pob_ent = pd.concat([df_pob_ent,df],axis=1)
df_pob_ent.columns = muni_name

In [179]:
df_pob_ent

,Armeria,Colima,Comala,Coquimatlan,Cuauhtemoc,Ixtlahuacan,Manzanillo,Minatitlán,Tecoman,Villa de Álvarez
1995,28015.0,120781.0,17601.0,16939.0,25462.0,4989.0,108584.0,8321.0,91036.0,66300.0
2000,28574.0,129958.0,19384.0,18756.0,26771.0,5478.0,125143.0,8466.0,99289.0,80808.0
2005,24939.0,132273.0,19495.0,17363.0,25576.0,4759.0,137842.0,7478.0,98150.0,100121.0
2010,28695.0,146904.0,20888.0,19385.0,27107.0,5300.0,161420.0,8174.0,112726.0,119956.0
2020,27626.0,157048.0,21661.0,20837.0,31267.0,5623.0,191031.0,10231.0,116305.0,149762.0

### Población total sin limitación en la actividad

In [183]:
df_disc = pd.DataFrame()
for i in muni:
    url = f"https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/6200205253/es/0700000600{i}/false/BISE/2.0/{token}?type=json"
    response = requests.get(url)
    data = response.json()
    series = data['Series'][0]['OBSERVATIONS']
    df = pd.DataFrame(series,index=['1995'])[['OBS_VALUE']]
    df['OBS_VALUE'] = pd.to_numeric(df['OBS_VALUE'])
    df_disc = pd.concat([df_disc,df],axis=1)
df_disc.columns=muni_name

In [184]:
df_disc

,Armeria,Colima,Comala,Coquimatlan,Cuauhtemoc,Ixtlahuacan,Manzanillo,Minatitlán,Tecoman,Villa de Álvarez
1995,21953.0,126171.0,16588.0,16086.0,24876.0,4396.0,159649.0,8635.0,94534.0,124726.0

### Porcentaje de personas de 15 años y más alfabetas

In [185]:
df_alfa = pd.DataFrame()
for i in muni:
    url = f"https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000041/es/0700000600{i}/false/BISE/2.0/{token}?type=json"
    response = requests.get(url)
    data = response.json()
    series = data['Series'][0]['OBSERVATIONS']
    df = pd.DataFrame(series,index=['2000','2010','2015','2020'])[['OBS_VALUE']]
    df['OBS_VALUE'] = pd.to_numeric(df['OBS_VALUE'])
    df_alfa = pd.concat([df_alfa,df],axis=1,ignore_index=False)
df_alfa.columns=muni_name

In [186]:
df_alfa

,Armeria,Colima,Comala,Coquimatlan,Cuauhtemoc,Ixtlahuacan,Manzanillo,Minatitlán,Tecoman,Villa de Álvarez
2000,87.074990,95.394722,92.791753,89.419825,93.298701,86.975150,93.870163,89.397880,87.028387,96.525901
2010,89.150000,96.190000,94.530000,91.400000,94.340000,88.080000,94.960000,92.300000,89.490000,97.550000
2015,91.013584,96.884859,95.726172,93.740746,96.212560,89.002433,96.200263,93.308376,91.777596,97.940955
2020,92.798475,97.477289,96.710249,94.053059,96.086235,92.853860,97.365899,94.750513,92.539793,98.565932

In [199]:
df.to_csv('df.csv')
df_pob_ent.to_csv('df_pob_ent.csv')
df_disc.to_csv('df_disc.csv')
df_alfa.to_csv('df_alfa.csv')